@model WebAppPremierLeague.Models.LeagueModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Arsenal</title>
</head>
<body>
    <div>
        <h1>@Model.TeamName</h1>

        <h2>@ViewBag.Subtitle</h2>

        <p><strong>Wins:</strong> @Model.Wins</p>

        <p>@Model.TeamManager</p>

    </div>
</body>
</html>
